<div class="container mt-3">

  <h2>Eventos do Componente</h2>
  <hr />

  <form action="" class="">
    <div class="form-group mb-2">
      <label class="mr-2">Filtro: </label>
      <input
        type="text"
        name="buscar"id="buscar"
        class="form-control mr-2"
        placeholder="Pesquise por Tema ou Local"
        [(ngModel)]="filtro">
    </div>
  </form>
  <table class="table table-striped text">
    <thead>
      <tr class="thead-dark">
        <th class="align-middle">#</th>
        <th>
          <a (click)="isCollapsed = !isCollapsed" class="btn -btn-sm btn-outline-light">
            <i class="fas fa-image"></i>
            {{isCollapsed ? 'Exibir imagem' :'Ocultar imagem'}}
          </a>
        </th>
        <th class="align-middle"><i class="fas fa-theater-masks"></i> Tema</th>
        <th class="align-middle"><i class="fas fa-map-marker-alt"></i> Local</th>
        <th class="align-middle"><i class="fas fa-calendar-day"></i> Data</th>
        <th class="align-middle"><i class="fas fa-user-friends"></i> Participantes</th>
        <th class="align-middle"><i class="fas fa-ticket-alt"></i> Lote</th>
        <th class="text-center align-middle"><i class="fas fa-cogs"></i> Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length > 0">
      <tr *ngFor="let evento of eventosFiltrados">
        <td [innerText]="evento.eventoId"></td>
        <td>
          <img [collapse]="isCollapsed" [isAnimated]="true" [style.width.px]="widthImg" [style.margin.px]="marginImg"
            [src]="'assets/'+evento.imagemURL" alt="">
        </td>
        <td [innerText]="evento.tema"></td>
        <td [innerText]="evento.local"></td>
        <td [innerText]="evento.dataEvento"></td>
        <td [innerText]="evento.qtdPessoas"></td>
        <td [innerText]="evento.lote"></td>
        <td class=text-center>
          <button type="submit" class="btn btm-sm btn-primary"><i class="fas fa-edit"></i></button>
          <button type="submit" class="btn btm-sm btn-danger ml-1"><i class="fas fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!eventosFiltrados ||eventosFiltrados.length <=0">
      <tr>
        <td colspan="8" class="text-center">
          <span class="title text-muted">Nenhum evento encontrado!</span>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
